.fixed-tabs {--background:#1e1671; --color:#ffffff; --color-selected:#ffcc00; border-top:none; height:52px;}
.fixed-tabs ion-tab-button {padding:4px 0 0;}
.fixed-tabs .icon {font-size:22px; color:#ffffff; width:24px; height:24px; margin-bottom:2px;}
.fixed-tabs ion-label {font-size:8px; color:#ffffff; line-height:1.4; font-weight:600; white-space:nowrap; letter-spacing: 1px;}