/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --ion-background-color: #f0f0f0;
  --ion-text-color: #333;
}

/* Ionic Styles */
ion-input, ion-textarea, ion-select {
  --background: white;
  --color: black;
}