@keyframes slideInRight {
0% {transform:translateX(100%); opacity:0;}
100% {transform:translateX(0); opacity:1;}
}

@keyframes slideInLeft {
0% {transform:translateX(-100%); opacity:0;}
100% {transform:translateX(0); opacity:1;}
}

.diamond-entry .entry-header {padding:0; margin-bottom:10px;}
.diamond-entry .entry-header ion-col {padding:0;}
.diamond-entry .entry-header ion-button {margin:0; --padding-inline-start:0; --padding-inline-end:0; --padding-top: 0; --padding-bottom: 0; min-height: auto;}
.diamond-entry .entry-header ion-icon {color:#1E1671;}
.diamond-entry .entry-title {font-size:16px; font-weight:500; margin:0; color:#1E1671;}
.diamond-entry .entry-subtitle {font-size:13px; font-weight:500; margin:10px 0 0 0; color:#1E1671; text-align:center;}
.diamond-entry .entry-paragraph {font-size:11px; font-weight:500; margin:0 0 5px; color:#666;}
.diamond-entry .step-content {position:relative; overflow:hidden;}
.diamond-entry .step-content > * {transition:transform 0.4s ease;}
.diamond-entry .step-content.next > * {animation:slideInRight 0.4s forwards;}
.diamond-entry .step-content.prev > * {animation:slideInLeft 0.4s forwards;}
.diamond-entry ion-list.entry-content {padding:0; background:transparent; height:calc(100vh - 240px); overflow-y:auto; overflow-x:visible;}
.diamond-entry ion-list.entry-content ion-item {--padding-start:0; --background:transparent; color:#1E1671; --inner-border-width:0; margin-bottom:0px; --min-height:auto; --inner-padding-end: 0;}
.diamond-entry ion-list.entry-content ion-item:last-child {margin-bottom:0;}
.diamond-entry ion-list.entry-content > .item > ion-label {font-weight:400; font-size:13px; padding-right:10px; min-width:130px; display:flex; align-items:center;}
.diamond-entry ion-list.entry-content .item ion-label ion-icon {margin-left:5px; font-size:20px;}
.diamond-entry ion-list.entry-content ion-input {--inner-padding-end:0px; border:1px solid #1E1671; padding:0px 5px !important; border-radius:5px; min-height:28px; font-size: 12px;}
.diamond-entry ion-list.entry-content ion-buttons {width:100%;}
/*.diamond-entry ion-select.corner-select {--background:white; --padding-start:0px; --padding-end:0px; --placeholder-color:#999; --color:#000; width:100%; border:1px solid #1E1671; font-size:12px; position:relative; overflow:hidden; display:block; --inner-padding-start:5px; --inner-padding-end:5px; border-radius:5px; min-height:28px; padding: 0 5px; }

.diamond-entry ion-select.corner-select::part(icon) {
  margin-left: auto; margin-inline-start: auto;
  position:absolute;
  right: 0;
}*/
.diamond-entry .number-input {text-align:center;}
.diamond-entry .picker-dropdown {position:absolute; z-index:999; margin-bottom:8px; border:1px solid #ccc; background:white; padding:10px; border-radius:8px; bottom:0; right:0; box-shadow:0 4px 12px rgba(0,0,0,0.15);}
.diamond-entry .thumb-img {margin:0 0 0 10px; display:flex; align-items:center; height: auto;}
.diamond-entry .thumb-img img {width:auto; height:24px; object-fit:contain;}
.diamond-entry .input-separator-text {margin:0 5px; white-space:nowrap;}
.diamond-entry .date-picker-area ion-icon {font-size:32px; line-height:1; color:#555; margin-left:10px; width:55px;}
.diamond-entry .label-top-align {align-self:flex-start; margin-top:2px;}
.diamond-entry .button-view {--background:#EBEAF2; --color:#1E1671; text-transform:capitalize; margin:0 0 0 10px; --box-shadow:none; font-size:13px;}
.diamond-entry .upload-title {padding-top:0px;}
.diamond-entry .upload-title .upload-title-inner {display:flex; flex-direction:column; width:100%;}
.diamond-entry .upload-title .entry-subtitle {margin:0 0 5px; text-align:left;}
.diamond-entry ion-item.upload-area .upload-box {border:2px dashed #1E1671; padding:16px; border-radius:12px; text-align:center; background:#fff; width:100%; box-sizing:border-box; margin-bottom:20px;}
.diamond-entry ion-item.upload-area ion-label.upload-text {font-weight:400; font-size:14px; margin-bottom:12px; padding:0; color:#000; display:block;}
.diamond-entry ion-item.upload-area .preview-img {width:100%; height:200px; object-fit:cover; margin:12px 0;}
.diamond-entry ion-item.upload-area .placeholder-box {height:150px; background:#f7f7f7; color:#888; display:flex; align-items:center; justify-content:center; font-size:14px; margin:12px 0;}
.diamond-entry ion-item.upload-area .upload-btn {--background:#fff; border:1px solid #1E1671; --color:#1E1671; text-transform:capitalize; margin:0; border-radius:10px; overflow:hidden;}
.diamond-entry ion-item.upload-area .upload-btn:hover {--background:#1E1671; --color:#fff;}
.diamond-entry .entry-footer {padding:10px 0 0;}
.diamond-entry .entry-footer .nav-dots {display:flex; gap:8px; align-items:center;}
.diamond-entry .entry-footer .nav-dots .dot {width:10px; height:10px; background-color:#ccc; border-radius:50%;}
.diamond-entry .entry-footer .nav-dots .dot.active {background-color:#1E1671; padding:8px;}
.diamond-entry .entry-footer ion-col {padding:0;}
.diamond-entry .entry-footer .button-row ion-button {
  --background:#1E1671; --color:#fff; text-transform:capitalize; margin:0; --border-radius: 5px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-start: 10px;
    --padding-end: 10px; min-height: 32px; font-size: 12px;
 
}
.overflow{ contain:none; overflow: visible; }

.autocomplete-item {
  position: relative;
}

.autocomplete-list {
  position: absolute;
  width: 100%; 
  z-index: 999;
  background: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);
}
.autocomplete-list ion-item { padding: 10px; cursor: pointer; margin-bottom: 0 !important; }

#fancyColorModal .modal-footer { position: absolute; left: 0; right: 0;  }
